body{
	width: 100%;
	background-color: #FCFAF0;
	font-family: helvetica;
}
header {
    height: 80px;
    margin-top: 40px;
}
.header-left{
	float: left;
	width: 10%;
	padding-left: 1%;
	margin-top: -20px;
}
.header-left img{
	width: 81px;
	height: 81px;
}
.header-mid{
	width: 883px;
	margin: 0 auto;
}
.header-mid h1{
	float: left;
	font-size: 16px;
	font-family: helvetica;
	margin: 15px;
	font-weight: normal;
	color: #394D6C;
}
.header-mid h1:hover{
	font-weight: bold;
	border-bottom: solid 3px #EEBA00;
}
.header-right{
	float: right;
	padding-right: 2%;
}
.header-right h1{
	float: right;
	font-size: 16px;
	font-family: helvetica;
	margin: 15px;
	margin-right: 0;
}
.main-img-container{
	float: left;
	width: 100%;
}
.beer-main-img{
	width: 90%;
	margin: 0 auto;
} 
.beer-main-img img{
	float: left;
	width: 100%;
}
.container{
	margin: 0 auto;
	width: 960px;
}
.beer h3{
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
}
.beer h2{
	font-size: 16px;
	text-align: center;
	color: #394D6C;
	
}
.beer-1{
	float: left;
	width: 222px;
	margin: 8px;
}

.beer-1 h3{
    color: #EEBA00;
    height: 65%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding-top: 70%;
    display: none;
    margin: 0;
}
.beer-1:hover.beer-1 h3{
	display: block;
}
.beer-1-back{
	width: 100%;
	height: 450px;
	background-image: url(images/beer-1.png);
	background-size: cover;
}

.beer-2{
	float: left;
	width: 222px;
	margin: 8px;
}

.beer-2 h3{
    color: #EEBA00;
    height: 65%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding-top: 70%;
    display: none;
    margin: 0;
}
.beer-2:hover.beer-2 h3{
	display: block;
}
.beer-2-back{
	width: 100%;
	height: 450px;
	background-image: url(images/beer-2.png);
	background-size: cover;
}
.beer-3{
	float: left;
	width: 222px;
	margin: 8px;
}

.beer-3 h3{
    color: #EEBA00;
    height: 65%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding-top: 70%;
    display: none;
    margin: 0;
}
.beer-3:hover.beer-3 h3{
	display: block;
}
.beer-3-back{
	width: 100%;
	height: 450px;
	background-image: url(images/beer-3.png);
	background-size: cover;
}
.beer-4{
	float: left;
	width: 222px;
	margin: 8px;
}

.beer-4 h3{
    color: #EEBA00;
    height: 65%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding-top: 70%;
    display: none;
    margin: 0;
}
.beer-4:hover.beer-4 h3{
	display: block;
}
.beer-4-back{
	width: 100%;
	height: 450px;
	background-image: url(images/beer-4.png);
	background-size: cover;
}
