body{
	background-color: #FCFAF0;
	width: 100%;
	margin: 0;
}
header{
	padding: 20px;
	height: 70px;

}
.header-left{
	float: left;

}
.header-left img{
	width: 81px;
}
.header-mid{
	margin: 0 auto;
	width: 864px;
}


.header-mid h1{
	font-family: helvetica;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	float: left;
	margin: 15px;
	padding-top: 16px;
	color: #394D6C;
}
.header-mid h1:hover{
	font-weight: bold;
	border-bottom: 3px solid #EEBA00;
}
.header-right h1{
	font-family: helvetica;
	font-size: 16px;
	float: right;
	padding: 15px;
}
.main-img-container{
	margin: 0 auto;
	width: 80%;
}
.beer-main-img {
    float: left;
    width: 100%;
    background: url(images/wissa-b.png) no-repeat center center;
    height: 485px;
    background-size: cover;
}
.container{
	float: left;
	width: 100%;
}
.all-content{
	width: 960px;
	margin: 0 auto;
}
.beer-1{
	float: left;
	width: 222px;
	margin-right: 24px;
}
.beer-1 h3 {
    float: left;
    background-color: rgba(0,0,0,0.6);
    margin-top: -505px;
    padding-bottom: 175px;
    padding-top: 170px;
    text-align: center;
    color: #EEBA00;
    font-family: helvetica;
    width: 200px;
    padding-left: 11px;
    padding-right: 11px;
    font-weight: lighter;
    display: none;
}
.beer-1:hover.beer-1 h3{
	display: block;
}
.beer-1 img{
	width:100%;
	float: left;
	height: 450px;
}
.beer-2{
	float: left;
	width: 222px;
	margin-right: 24px;

}
.beer-2 img{
	width:100%;
	float: left;
	height: 450px;
}
.beer-2 h3 {
    float: left;
    background-color: rgba(0,0,0,0.6);
    margin-top: -523px;
    padding-bottom: 154px;
    padding-top: 170px;
    text-align: center;
    color: #EEBA00;
    font-family: helvetica;
    width: 200px;
    padding-left: 11px;
    padding-right: 11px;
    font-weight: lighter;
    display: none;
}
.beer-2:hover.beer-2 h3{
	display: block;
}
.beer-3{
	float: left;
	width: 222px;
	margin-right: 24px;

}
.beer-3 img{
	width:100%;
	float: left;
	height: 450px;
}
.beer-3 h3 {
    float: left;
    background-color: rgba(0,0,0,0.6);
    margin-top: -523px;
    padding-bottom: 217px;
    padding-top: 170px;
    text-align: center;
    color: #EEBA00;
    font-family: helvetica;
    width: 200px;
    padding-left: 11px;
    padding-right: 11px;
    font-weight: lighter;
    display: none;
}
.beer-3:hover.beer-3 h3{
	display: block;
}
.beer-4{
	float: left;
	width: 222px;

}
.beer-4 img{
	width:100%;
	float: left;
	height: 450px;
}
.beer-4 h3 {
    float: left;
    background-color: rgba(0,0,0,0.6);
    margin-top: -505px;
    padding-bottom: 196px;
    padding-top: 170px;
    text-align: center;
    color: #EEBA00;
    font-family: helvetica;
    width: 200px;
    padding-left: 11px;
    padding-right: 11px;
    font-weight: lighter;
    display: none;
}
.beer-4:hover.beer-4 h3{
	display: block;
}
.beer-1 h2,.beer-2 h2, .beer-3 h2,.beer-4 h2{
	float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: helvetica;
    padding-top: 10px;
    color: #394D6C;
    font-weight: normal;
}
